{% extends 'base.html' %}
{% load static %}

{% block 'title' %} Invoice Generator {% endblock %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block 'body' %}
    <div class="container mt-5">
        <h2>Empresas Cadastradas</h2> 
        <hr>
        <br>
        <table class="table" >
            <thead>
              <tr>
                <th scope="col">CNPJ</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">VAT Number</th>
                <th scope="col">Criar Nota Fiscal</th>
              </tr>
            </thead>
            {% for company in company %}
            <tbody>
              <tr>
                <th scope="row">{{company.cnpj}}</th>
                <td>{{company.nome}}</td>
                <td>{{company.logradouro}}</td>
                <td>{{company.cnpj}}</td>
                <td><a href="{% url 'invoiceregister' company.id %}"> <input type="button" value="Gerar Nota fiscal" class="btn btn-primary"> </a></td>
              </tr>
              {% empty %}
              <tr>
                <th scope="row">Nenhuma empresa Cadastrada.</th>
              </tr>
              {% endfor %}
            </tbody>
            
          </table>

          <a href="{% url 'companyregister' %}"> <input type="button" value="Cadastrar Empresa" class="btn btn-success m-1"> </a>
          

          <div class="container">
            {% for endereco in endereco %}
              
            {% empty %}
              <br>
             <p>Seus Dados adicionais precisam ser cadastrados. <a href="{% url 'addressregister' %}">Clique Aqui!</a></p>  
            {% endfor %}

          </div>
    </div>
    {% endblock %}