{% extends 'base.html' %}
{% load static %}

{% block 'title' %} Invoice Generator {% endblock %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block 'body' %}
    <div class="container mt-5">
        <h2>Empresas Cadastradas</h2> 
        <hr>
        <br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">CNPJ</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">VAT Number</th>
                <th scope="col">Criar Nota Fiscal</th>
              </tr>
            </thead>
            {% for item in company %}
            <tbody>
              <tr>
                <th scope="row">{{item.cnpj}}</th>
                <td>{{item.nome}}</td>
                <td>{{item.logradouro}}</td>
                <td>{{item.cidade}}</td>
                <td><a href="{% url 'companyregister' %}"> <input type="button" value="Criar Invoice" class="btn btn-outline-info"> </a></td>
              </tr>
              {% empty %}
              <tr>
                <th scope="row">Nenhuma empresa Cadastrada.</th>
              </tr>
              {% endfor %}
            </tbody>
            
          </table>

          <a href="{% url 'companyregister' %}"> <input type="button" value="Cadastrar Empresa" class="btn btn-outline-success m-1"> </a>
          
    </div>
    {% endblock %}