{% extends 'base.html' %}
{% load static %}

{% block 'title' %} My Profile {% endblock %}

{% block 'head' %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block 'body' %}    

    <div class="container mt-5">
        <h2>Perfil</h2> 
        <hr>
        <br>
        <p>
            Nome Completo: {{ request.user.first_name}} {{ request.user.last_name}} <br>
            Email: {{ request.user.email}} <br>
            Usuario criado dia {{request.user.date_joined}}
        </p>

        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="#">
            Alterar senha
        </a>
        <br>
        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'logout' %}">
            Sair
        </a>
    </div>

{% endblock %}