{% extends 'base.html' %}
{% load static %}

{% block 'title' %} Dados Complementares {% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="{% static 'js/javascript.js' %}"></script>
{% endblock%}

{% block 'body' %}
<div class="container mt-5">
    <div class="container">
        <form class="row g-3 needs-validation p-4" action="{% url 'additionaldata_save' %}" method="POST">
            {% csrf_token %}

            <h4>Dados Complementares</h4>

            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">CNPJ: </label>
                <input type="text" class="form-control" name="cnpj" maxlength="15">
            </div>

            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">SWIFT CODE: </label>
                <input type="text" class="form-control" name="swiftcode">
            </div>

            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">IBAN CODE: </label>
                <input type="text" class="form-control" name="ibancode">
            </div>

            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">Salário </label>
                <input type="number" class="form-control" name="salario">
            </div>

            <h5>Endereço</h5> 

            <div class="col-md-4">
                <label for="validationCustom05" class="form-label">CEP: </label>
                <input type="text" class="form-control" name="cep" id="cep" required>
                <div class="invalid-feedback">
                    Por favor, digite o CEP correto
                </div>
            </div>
            <div class="col-md-6">
                <label for="validationCustom05" class="form-label">Rua: </label>
                <input type="text" class="form-control" id="rua" name="logradouro">
            </div>

            <div class="col-md-2">
                <label for="validationCustom05" class="form-label">Numero: </label>
                <input type="text" class="form-control" name="numero">
            </div>

            <div class="col-md-3">
                <label for="validationCustom05" class="form-label">Complemento: </label>
                <input type="text" class="form-control" name="complemento">
            </div>

            <div></div>

            <div class="col-md-2">
                <label for="validationCustom03" class="form-label">
                    Bairro: </label>
                <input type="text" class="form-control" id="bairro" name="bairro">

            </div>

            <div class="col-md-3">
                <label for="validationCustom03" class="form-label">Cidade: </label>
                <input type="text" class="form-control" id="cidade" name="cidade">

            </div>
            <div class="col-md-2">
                <label for="validationCustom04" class="form-label">Estado: </label>
                <input type="text" class="form-control" id="uf" name="estado">
            </div>

            <div>
                <button class="btn btn-info" type="submit">Save</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}