{% extends 'base.html' %}
{% load static %}

{% block 'title' %} My Profile {% endblock %}

{% block 'head' %} <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endblock %}

{% block 'body' %}    

    <div class="container mt-5">
        <h2>Perfil</h2> 
        <hr>
        <br>
        <p>Nome Completo: {{ request.user.first_name}} {{ request.user.last_name}}</p>
        <p>Email: {{ request.user.email}}</p>
        <p>Usuario criado dia {{request.user.date_joined}}</p>
        <p><a class="text-blue-700" href="#" class="ml-2"><p class="text-2xl"> Alterar senha </p> </a></p>
        <p><a class="text-blue-700" href="#" class="ml-2"><p class="text-2xl"> Sair </p> </a></p>

    </div>

{% endblock %}